
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  padding: 0;
  line-height: 1.5;
}
*{
  box-sizing: border-box;
 };
::before,::after{
  box-sizing: border-box;
}
.loginPage{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items:center ;
  width: 100%;
  height: 100vh;
}
